.change-password-body{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 40px;
}
.change-password-form{
    width: 70%;
    margin-left: 200px;
}
.change-pass-btn{
    float: right;
}