.approvalpage-container{
    position: fixed;
    height: 100vh;
    width: 100%;
}

.approvalpage-topnav{
    height: 15vh;
}

.approvalpage-body-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.approvalpage-top-navbar{
    padding-top: 1vh;
    height: 15vh;
    background-color: #251070;
}

.approvalpage-heading{
    color: white;
    margin-left: 25rem;
    font-size: 30px;
}

.approvalpage-back-btn{
    width: 15vh;
    background-color: #572af9;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 2px;
}

.approvalpage-back-icon{
    font-weight: bold;
    color: #ffffff;
}

.approvalpage-tabs{
    
}

.approvalpage-table{
    height: 70vh;
}

.comment-input{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background-color: white;
}

.reject-button{
    margin-left: 5px;
}

@media screen and (max-width:1024px) {
    .approvalpage-container{
        height: 90vh;
    }
    .approvalpage-topnav{
        height: 10vh;
    }
    /* -----TopNav----- */
    .approvalpage-top-navbar{
        padding: 0;
        height: 10vh;
    }
    .approvalpage-top-navbar .navbar{
        padding: 20px;
    }
    .approvalpage-heading{
        margin-left: 17rem;
    }
}
@media screen and (min-height:1023px) {

}

@media screen and (max-width:1024px) and (max-height:600px){
    .approvalpage-top-navbar .navbar{
        padding: 0px;
    }
}

@media screen and (max-width:540px) {
    /* -----------Nav Bar-------- */
    .approvalpage-top-navbar{
      padding: 0px;
    }
    .approvalpage-top-navbar .navbar{
        padding: 14px;
    }
    .approvalpage-heading{
      padding-top: 5px;
      margin-left: 7rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
    /* --------Body---------- */
    .approvalpage-table{
        height: 80vh;
    }
    .reject-button{
        margin-left: 0px;
    }
}

@media screen and (max-width:430px) {
    /* -----------Nav Bar-------- */
    .approvalpage-top-navbar{
      padding: 5px;
    }
    .approvalpage-top-navbar .navbar{
        padding: 7px;
    }
    .approvalpage-heading{
      padding-top: 5px;
      margin-left: 7rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
}

@media screen and (max-width:376px) {
    /* -----------Nav Bar-------- */
    .approvalpage-top-navbar{
      padding: 10px;
    }
    .approvalpage-top-navbar .navbar{
        padding: 0px;
    }
    .approvalpage-heading{
      padding-top: 0px;
      margin-left: 6rem;
      font-size: 15px;
    }
    .navbar-text{
      font-size: 10px;
    }
    /* --------Body---------- */
    
}