.studentlist-container{
    position: fixed;
    height: 100vh;
    width: 100%;
}

.studentlist-topnav{
    height: 15vh;
}

.studentlist-body-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.studentlist-top-navbar{
    padding-top: 1vh;
    height: 15vh;
    background-color: #251070;
}

.studentlist-heading{
    color: white;
    margin-left: 25rem;
    font-size: 30px;
}

.back-btn{
    width: 14vh;
    background-color: #572af9;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 2px;
}

.back-icon{
    font-weight: bold;
    color: #ffffff;
}

.studentlist-search-bar-nav{
    height: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.studentlist-table{
    height: 70vh;
}

.studentlist-search-input{
    margin: 4px;
    width: 50vh;
    height: 6vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background-color: white;
}

.table-head{
    color: #251070;
    background-color: #33169d;
}

@media screen and (max-width:1024px) {
    .studentlist-body-container{
        height: 90vh;
    }
    .studentlist-topnav{
        height: 10vh;
    }
    /* -----TopNav----- */
    .studentlist-top-navbar{
        padding: 0;
        height: 10vh;
    }
    .studentlist-top-navbar .navbar{
        padding: 20px;
    }
    .studentlist-heading{
        margin-left: 17rem;
    }
    
}
@media screen and (min-height:1023px) {
    .studentlist-search-bar-nav{
        display: flex;
        flex-direction: column;
        justify-content: none;
    }
    .studentlist-search-input {
        width: 40vh;
        height: 4vh;
    }
}

@media screen and (max-width:1024px) and (max-height:600px){
    .studentlist-top-navbar .navbar{
        padding: 0px;
    }
}

@media screen and (max-width:540px) {
    /* -----------Nav Bar-------- */
    .studentlist-top-navbar{
      padding: 0px;
    }
    .studentlist-top-navbar .navbar{
        padding: 14px;
    }
    .studentlist-heading{
      padding-top: 5px;
      margin-left: 7rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
    /* --------Body---------- */
    .studentlist-search-bar-nav{
        height: 16vh;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .studentlist-table{
        height: 80vh;
    }
    .studentlist-search-input {
        margin-left: 8px;
        width: 30vh;
        height: 4vh;
    }
}

@media screen and (max-width:430px) {
    /* -----------Nav Bar-------- */
    .studentlist-top-navbar{
      padding: 5px;
    }
    .studentlist-top-navbar .navbar{
        padding: 7px;
    }
    .studentlist-heading{
      padding-top: 5px;
      margin-left: 7rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
    .studentlist-search-bar-nav{
        height: 15vh;
    }
}

@media screen and (max-width:376px) {
    /* -----------Nav Bar-------- */
    .studentlist-top-navbar{
      padding: 10px;
    }
    .studentlist-top-navbar .navbar{
        padding: 0px;
    }
    .studentlist-heading{
      padding-top: 0px;
      margin-left: 6rem;
      font-size: 15px;
    }
    .navbar-text{
      font-size: 10px;
    }
    /* --------Body---------- */
    .studentlist-search-input {
        margin-left: 6px;
        width: 25vh;
    }
    .studentlist-search-bar-nav{
        height: 15vh;
    }
}