aiohttp
aiosignal
alabaster
anaconda-client
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.5.0
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
aws-shell==0.2.2
awscli==1.27.19
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black==19.10b0
bleach
bokeh
boto3==1.26.19
botocore==1.29.19
Bottleneck
brotlipy==0.7.0
cachetools
certifi==2021.10.8
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.1
colorama
colorcet
conda==4.3.16

configobj==5.0.6
constantly==15.1.0
cookiecutter
cors==1.0.1
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.5.1
dask
datashader
datashape==0.5.2
debugpy
decorator
defusedxml
diff-match-patch
distributed
Django==4.0.2
django-cors-headers==3.11.0
djangorestframework==3.13.1
docutils==0.16
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
Flask-Cors
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gevent==22.10.2
glob2
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet==2.0.1
grpcio
gunicorn==20.1.0
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
jeepney
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite==0.38.0
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
opencv-python==4.6.0.66
openpyxl
packaging
pandas==1.4.2
pandocfilters
panel
param
parsel
parso
partd
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.0.1
pkginfo
plotly
pluggy
poyo
prometheus-client
prompt-toolkit==1.0.18
Protego
protobuf==3.19.1
psutil
psycopg2-binary==2.9.3
ptyprocess
pure-eval
py
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.44.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest==7.1.1
python-dateutil
python-dotenv==0.19.2
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify
python-snappy
pytz==2021.3
pyviz-comms
PyWavelets
pyxdg
PyYAML==5.4.1
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
rope
rsa
Rtree
s3transfer==0.6.0
scikit-image
scikit-learn
scikit-learn-intelex==2021.2.1
scipy
Scrapy
seaborn
SecretStorage
Send2Trash
service-identity
sip==5.0.0
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse==0.4.2
stack-data
statsmodels
sympy
tables
tabulate==0.8.9
TBB==2018.0.4
tblib
tenacity
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
toolz
tornado
tqdm
traitlets
Twisted
typed-ast
typing_extensions
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whitenoise==6.4.0
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
yapf
yarl
zict==2.0.0
zipp
zope.event==4.5.0
zope.interface
