.heading{
  font-size: 30px;
}

.top-navbar{
  padding-top: 1vh;
  height: 15vh;
  background-color: rgb(255, 255, 255);
}


@media screen and (max-width:1024px) {
  .top-navbar{
    padding: 3vh;
    height: 10vh;
  }
  .heading{
    font-size: 20px;
  }
  .navbar-text{
    font-size: 15px;
  }
}

@media screen and (max-width:540px) {
  .top-navbar{
    padding: 1vh;
  }
  .heading{
    font-size: 15px;
  }
  .navbar-text{
    font-size: 13px;
  }
}
@media screen and (max-width:375px) {
  .heading{
    font-size: 10px;
  }
  .navbar-text{
    font-size: 9px;
  }
}