.student-details-container{
    position: fixed;
    height: 100vh;
    width: 100%;
}

.student-details-topnav{
    height: 15vh;
}

.student-details-body-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.student-details-top-navbar{
    padding-top: 1vh;
    height: 15vh;
    background-color: #251070;
}
.student-details-navbrand{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.student-details-heading{
    color: white;
    font-size: 30px;
    margin-left: 29rem;
}

.student-details-back-btn{
    width: 15vh;
    background-color: #572af9;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 7px;
}

.student-details-back-icon{
    font-weight: bold;
    color: #ffffff;
}

.student-details-editUser{
    width: 6vh;
    height: 6vh;
    border: black solid 1px;
    border-radius: 50%;
    float: right;
    margin-right: 12px;
}

.student-details-table-head th{
    background-color: #2E3977;
    color: white;
}

.student-details-table{
    height: 70vh;
    padding: 10px;
}
.student-details-download-pdf:hover{
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    .student-details-body-container{
        height: 90vh;
    }
    .student-details-topnav{
        height: 10vh;
    }
    /* -----TopNav----- */
    .student-details-top-navbar{
        padding: 0;
        height: 10vh;
    }
    .student-details-top-navbar .navbar{
        padding: 20px;
    }
    .student-details-heading{
        margin-left: 15rem;
    }  
    .student-details-editUser{
        width: 4vh;
        height: 4vh;
    }
}
@media screen and (max-width:1024px) and (max-height:600px){
    .student-details-top-navbar .navbar{
        padding: 0px;
    }
}

@media screen and (max-width:540px) {
    /* -----------Nav Bar-------- */
    .student-details-top-navbar{
      padding: 0px;
    }
    .student-details-top-navbar .navbar{
        padding: 14px;
    }
    .student-details-heading{
      padding-top: 5px;
      margin-left: 8rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
    /* --------Body---------- */
    .student-details-table{
        height: 80vh;
    }
}

@media screen and (max-width:430px) {
    /* -----------Nav Bar-------- */
    .student-details-top-navbar{
      padding: 5px;
    }
    .student-details-top-navbar .navbar{
        padding: 7px;
    }
    .student-details-heading{
      padding-top: 5px;
      margin-left: 5rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
}

@media screen and (max-width:376px) {
    /* -----------Nav Bar-------- */
    .student-details-top-navbar{
      padding: 10px;
    }
    .student-details-top-navbar .navbar{
        padding: 0px;
    }
    .student-details-heading{
      padding-top: 0;
      margin-top: 0.5rem;
      margin-left: 3rem;
      font-size: 15px;
    }
    .navbar-text{
      font-size: 10px;
    }
}