.upload-drive-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.upload-drive-topnav{
    height: 15vh;
}

.upload-drive-body-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upload-drive-top-navbar{
    padding-top: 1vh;
    height: 15vh;
    background-color: #251070;
}
.upload-drive-navbrand{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.upload-drive-heading{
    color: white;
    font-size: 30px;
    margin-left: 29rem;
}

.upload-drive-back-btn{
    background-color: #251070;
    border: 0;
    border-radius: 10px;
}

.upload-drive-back-icon{
    font-weight: bold;
    color: #ffffff;
    font-size: xx-large;
    margin-top: 5px;
}

.upload-drive-editUser{
    width: 6vh;
    height: 6vh;
    border: black solid 1px;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
}

.upload-drive-submit-btn{
    float: right;
}

.upload-drive-form{
    height: 100%;
}
.upload-drive-formlabel{
    font-weight: 600;
}

@media screen and (max-width:1024px) {
    .upload-drive-container{
        position: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .upload-drive-body-container{
        height: 90vh;
    }
    .upload-drive-topnav{
        height: 10vh;
    }
    .upload-drive-form{
        width: 80%;
    }
    /* -----TopNav----- */
    .upload-drive-top-navbar{
        padding: 0;
        height: 10vh;
    }
    .upload-drive-top-navbar .navbar{
        padding: 20px;
    }
    .upload-drive-heading{
        margin-left: 15rem;
    }
    .upload-drive-editUser{
        margin-right: 5px;
        width: 4vh;
        height: 4vh;
    }
}

@media screen and (max-width:1024px) and (max-height:600px){
    .upload-drive-top-navbar .navbar{
        padding: 0px;
    }
}

@media screen and (max-width:540px) {
    /* -----------Nav Bar-------- */
    .upload-drive-top-navbar{
      padding: 0px;
    }
    .upload-drive-top-navbar .navbar{
        padding: 14px;
    }
    .upload-drive-heading{
      padding-top: 5px;
      margin-left: 8rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
    .upload-drive-form{
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media screen and (max-width:430px) {
    /* -----------Nav Bar-------- */
    .upload-drive-top-navbar{
      padding: 5px;
    }
    .upload-drive-top-navbar .navbar{
        padding: 7px;
    }
    .upload-drive-heading{
      padding-top: 5px;
      margin-left: 5rem;
      font-size: 20px;
      float: right;
    }
    .navbar-text{
      font-size: 13px;
    }
}

@media screen and (max-width:376px) {
    /* -----------Nav Bar-------- */
    .upload-drive-top-navbar{
      padding: 10px;
    }
    .upload-drive-top-navbar .navbar{
        padding: 0px;
    }
    .upload-drive-heading{
        padding-top: 0;
        margin-top: 0.5rem;
        margin-left: 3rem;
      font-size: 20px;
    }
    .navbar-text{
      font-size: 10px;
    }
}