@media screen and (max-width: 600px) {
    .sidenav { margin-top: 25%;}
    .sidenav a {font-size: 18px;}
  }

.sidenav {
    margin-top: 7%;
    height: 85%;
    width: 250px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #22017d;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px; 
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  .sidenav .logout{
    text-align: left;
    padding-top: 200px; 
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }