.box{
    height: 105%;
    width: 40%;
    right: 0;
    position: fixed;
    background-color: #2E3977;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}
.signup-body{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 2%;
}
.image{
    position: absolute;
    margin-top: 100px;
    margin-left: -25px;
    width: 100%;
    height: 60%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#exampleInput{
    width: 49%;
}
.buttons{
    width: 48.5%;
    margin-left: 0.5%;
    margin-top: 2%;
}

@media screen and (max-width:800px) {
    .box{
        display: none;
    }
}